h1 {
    color: black;
    font-size: 27px;
    text-align: center;
}

h2 {
  color: Blue;
  font-size: 20px;
 }
 
 h3 {
   color: Green;
   font-size: 20px;
   
 }
 
 h4 {
   color: Purple;
   font-size: 20px;
 }
 
 h5 {
   color: Red;
   font-size: 20px;
 }
